{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.5/css/select.bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
    <style>
        #table {
            min-height: 10em;
        }

        #championship-show-categories button {
            margin-bottom: 1em;
        }

        .row-ranck {
            text-align: center;
        }

        .profile-href {
            cursor: zoom-in;
            color: #1b6d85;
        }
    </style>

{% endblock %}

{% block title %}
    {{ parent() }} {{ championship.name }}
{% endblock %}


{% block body %}

    {{ 0|loader }}

    <!--buttons categories-->
    <div id="championship-show-categories" class="row">
        {% for c in categories %}
            <div class="btn-category col-xs-3 col-lg-2">
                <button class="btn-xs btn-info col-xs-12" value="{{ c.id }}">{{ c.name }}</button>
            </div>
        {% endfor %}
    </div>
    <!----------------------------------------------------------------------------------------------------------------->
    <br>
    <div id="loader-div" class="col-xs-offset-2 col-xs-8"></div>
    <div id="table" class="col-xs-offset-2 col-xs-8">
        <div id="table-race-category-container">
            <table id="table-championship" class="display" cellspacing="0" width="100%">
                <thead>
                <tr id="row-table-race-category">
                    <th>Cls</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Point</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

    <script>

        var category = {{ championship.category.id }};

        championshipShow(category);

        function championshipShow(category) {
            var $btnCategories = $('#championship-show-categories').find('button');
            var $container = $('#table');

            var language = {
                "search": "Rechercher:",
                "lengthMenu": "Voir _MENU_ compétiteurs  par page",
                "zeroRecords": "Aucune inscription",
                "paginate": {
                    "first": "Premier",
                    "last": "Dernier",
                    "next": "Suivant",
                    "previous": "précédent"
                }
            };
            var options = {
                destroy: true,
                language: language,
                bInfo: false,
                order: [[0, "asc"]]
            };
            options.columns = [
                {data: 'ranck', className: "row-ranck"},
                {
                    "data": "lastName",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<span class='profile-href' onclick='profilData(" + oData.id + " )' data-toggle='modal' data-target='#competitor-modal'>" + oData.lastName + "</span>");
                    }
                },
                {
                    "data": "firstName",
                    "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                        $(nTd).html("<span class='profile-href' onclick='profilData(" + oData.id + " )' data-toggle='modal' data-target='#competitor-modal'>" + oData.firstName + "</span>");
                    }
                },
                {data: 'points', className: "row-ranck"},
            ];
            options.columnDefs = [
                {
                    targets: 0,
                    width: "5%"
                },
                {
                    targets: 3,
                    width: "5%"
                }
            ];

            //inti
            ranckTable(category);

            //Envents
            $btnCategories.click(function () {

                ranckTable($(this).val());
                $btnCategories.attr('class', 'btn-xs btn-info col-xs-12');
                $(this).attr('class', 'btn-xs btn-primary col-xs-12');
            });

            $('.profile-href').click(function () {
                var user = $(this).attr("data");
                profilData(user);
            });

            function ranckTable(category) {
                loaderDivStart($container);

                var path = Routing.generate('championship_json', {
                    idCategory: category
                });

                $.ajax({
                    url: path,
                    success: function (data) {
                        console.log(data);
                        displayTable(data, category);
                    },
                    error: function () {
                        ajaxError();
                    }
                });
            }

            function displayTable(data, category) {
                options.data = data;

                $('#table-championship').DataTable(options);
                loaderDivStop($container);
                loaderStop();
            }

        }




        /*   competitionShow(race);

           function competitionShow(race) {

               var $categories = $('#race-show-categories');
               var $btnCategories = $('#race-show-categories button');
               var container = $('#tables');
               var rowTable;

               //init
               $(document).ready(function () {
                   //ranckTable('all');
               });

               //events
               $btnCategories.click(function () {

                   ranckTable($(this).val());
                   $btnCategories.attr('class', 'btn-xs btn-info col-xs-12');
                   $(this).attr('class', 'btn-xs btn-primary col-xs-12');
               });

               $('.profile-href').click(function () {
                   var user = $(this).attr("data");
                   profilData(user);
               });


               function ranckTable(category) {
                   //loaderDivStart(container);

                   var path = Routing.generate('race_Table', {
                       idRace: race,
                       category: category
                   });

                   $.ajax({
                       url: path,
                       success: function (data) {
                           displayTable(data, category);
                       },
                       error: function () {
                           ajaxError();
                       }
                   });
               }

               var options = {
                   destroy: true,
                   data: data.competitors,
                   language: language,
                   bInfo: false,
                   order: [[0, "asc"]]
               };
               options.columns = [
                   {data: 'ranckCategory', className: "row-ranck"},
                   {
                       "data": "lastName",
                       "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                           $(nTd).html("<span class='profile-href' onclick='profilData(" + oData.id + " )' data-toggle='modal' data-target='#competitor-modal'>" + oData.lastName + "</span>");
                       }
                   },
                   {
                       "data": "firstName",
                       "fnCreatedCell": function (nTd, sData, oData, iRow, iCol) {
                           $(nTd).html("<span class='profile-href' onclick='profilData(" + oData.id + " )' data-toggle='modal' data-target='#competitor-modal'>" + oData.firstName + "</span>");
                       }
                   },
                   {data: 'number', className: "row-ranck"},
                   {data: 'chronoString', className: "row-ranck"},
                   {data: 'ranck', className: "row-ranck"}
               ];
               options.columnDefs = [
                   {
                       targets: 0,
                       width: "5%"
                   },
                   {
                       targets: 3,
                       width: "5%"
                   },
                   {
                       targets: 5,
                       width: "5%"
                   }
               ];


               $('#table-race-category').dataTable(options);


               loaderDivStop(container);
           }*/


    </script>

{% endblock %}
