{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} index
{% endblock %}

{% block body %}

    <h1>championship</h1>

    {% for row in championshipsCompetitors %}

        <H1>{{ row.championship.name }}</H1>

        {% for c in row.competitors %}
            {{ c.firstName }} {{ c.lastName }} {{ c.points }}<br>
        {% endfor %}

    {% endfor %}

{% endblock %}