
<div id="panel-competition-list" class="panel panel-success">
    <div class="panel-heading">
        <span class="panel-title">{{ competition.name }} </span>
        <span class="pull-right panel-header-img">
                {% if competition.inChampionship %}
                    <img src="{{ asset('img/cup.jpg') }}">
                {% endif %}

            {% if competition.valid %}
                {{ competition.competitorRegister|registerImg }}
            {% endif %}
            </span>
    </div>
    <div class="panel-body panel-body-competition">
        <h4 style="text-align: center">Du {{ competition.dateStart|date("d/m/Y") }}
            au {{ competition.dateEnd|date("d/m/Y") }}</h4>

        <div class="row">

            <div class="col-xs-7">
                {{ competition.location.street }}<br>
                {{ competition.location.postCode }} {{ competition.location.city }}<br><br>
                <span class="nbRace">{{ competition.nbValidRaces }} courses</span>
                <span style="font-size: smaller">Organisé par {{ competition.organizer.name }}</span>
            </div>

            <div class="col-xs-4 panel-categories-container">
                {% if competition.fullCat %}
                    <div class="panel-category-all ">toutes catégories</div>
                {% else %}
                    <div class="panel-categories">
                        {% for category in competition.categories %}
                            <span style="margin-left: 1em">{{ category.name }}</span><br>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" class="btn-xs btn-info" value="Détail"
               onclick="location.href = '{{ path('competition_show', {'id': competition.id}) }}';">

        {% if competition.isOrganizer == true %}
            <input type="button" class="btn-xs btn-success" value="Editer"
                   onclick="location.href = '{{ path('competition_edit', {'id': competition.id}) }}';">

            <input type="button" class="btn-xs btn-success" value="Ajouter une course"
                   onclick="location.href = '{{ path('race_new', {'id':competition.id} ) }}';">

            <span class="panel-footer-img">{{ competition.valid|validImg }}</span>

        {% endif %}
    </div>
</div>