{#
TO DO
    LOCATION FORM
    *suivant touche entrer
    *faire api a part pour renvoyer ville par département ou json => permet de mettre fichier Json a part
        actuellement impossible a cause asset
    *différencier label value

    GENERAL
    *Bouton validé actif que si tout les champs sont ok
    *pop-up votre compétition à bien été enregistrée
#}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">



{% endblock %}

    {% block body %}

        {{ form_start(form, {'attr': {'data-toggle': 'validator', 'role':'form'}}) }}

        <!--Name-->
        <div class="form-group has-feedback ">
            <label for="name" class="control-label">Nom</label>
            {{ form_widget(form.name, {'attr': {'id':"name", 'class':"form-control"}}) }}
            <div class="help-block with-errors">Entre 3 et 50 caractères alaphanumériques</div>
        </div>
        <hr>

        <!--Dates-->
        <label>Date</label>
        <div class="row">
            <!--DateStart-->
            <div class="form-group has-feedback col-lg-offset-1 col-sm-4">
                <label for="dateStart" class="control-label">Du</label>
                {{ form_widget(form.dateStart, {'attr': {'id':"dateStart", 'class':"form-control input-date-start", 'style':"display: block"}}) }}
                <input class="form-control datepicker dpStart">
            </div>

            <!--DateEnd-->
            <div class="form-group has-feedback col-lg-offset-1 col-sm-4">
                <label for="dateEnd" class="control-label">Au</label>
                {{ form_widget(form.dateEnd, {'attr': {'id':"dateEnd", 'class':"form-control input-date-end", 'style':"display: block"}}) }}
                <input class="form-control datepicker dpEnd">
            </div>
        </div>
        <hr>

        <!--Location-->
        <div class="form-group has-feedback ">
            <label for="location" class="control-label">Localisation</label>
            {{ form_widget(form.locationString, {'attr': {'id':"location", 'class':"form-control location-input", 'style':"display: block", 'minlength':"3"}}) }}
        </div>

        {% include('tools/form_location.html.twig') %}

        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Submit</button>
        </div>

        {{ form_end(form) }}



    {% endblock %}

   {% block javascripts %}
       {{ parent() }}
       <script src="{{ asset('js/validator.js') }}"></script>

       <! datepicker***************************************************************************************************>
       <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
       <script src="{{ asset('datepicker/datepicker-fr.js') }}"></script>
       <script>

           var inputDateStart = $('.input-date-start');
           var inputDateEnd = $('.input-date-end');

           $('.datepicker').datepicker({
               language: 'fr',
               format: 'dd-mm-yyyy',
               todayBtn: 'linked',
               autoclose: true,
               todayHighlight: true
           });

           $('.dpStart').on('changeDate', function () {
               var startDate = changeFormatDate($('.dpStart').datepicker('getFormattedDate'));
               inputDateStart.val(startDate);
               inputDateStart.trigger('change');
               $('.dpEnd').datepicker(
                   'setStartDate', $('.dpStart').datepicker('getDate')
               );
           });

           $('.dpEnd').on('changeDate', function () {
               var startDate = changeFormatDate($('.dpEnd').datepicker('getFormattedDate'));
               inputDateEnd.val(startDate);
               inputDateEnd.trigger('change');
               $('.dpStart').datepicker(
                   'setEndDate', $('.dpEnd').datepicker('getDate')
               );
           });


           function changeFormatDate(date) {

               var date= date;
               var d=new Date(date.split("-").reverse().join("-"));
               var dd=d.getDate();
               var mm=d.getMonth()+1;
               var yy=d.getFullYear();
               var newdate =yy+"-"+mm+"-"+dd;

               return newdate;
           }

       </script>

   {% endblock %}
