{% extends 'form_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
          integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
          crossorigin=""/>
    <link rel="stylesheet" href="{{ asset('locationForm/locationForm.css') }}"/>

    <style>
        #competition-form .datepicker {
            z-index: 1;
        }

        #location-form .leaflet-container {
            z-index: 0;
        }

    </style>

{% endblock %}

{% block title %}
    {{ parent() }} Ajout compétition
{% endblock %}

{% block forms_content %}

    <div class="competition-form">
        {{ form_start(form, {'attr': {'data-toggle': 'validator', 'role':'form'}}) }}

        <!--Name-->
        <div class="form-group has-feedback ">
            <label class="control-label">Nom</label>
            {{ form_widget(form.name, {'attr': {'class':"form-control"}}) }}
            <div class="help-none with-errors">Entre 5 et 50 caractères alaphanumériques</div>
        </div>
        <hr>

        <!--Dates-->
        <label>Date</label>

        <div class="row">
            <!--DateStart-->
            <div class="form-group has-feedback col-lg-offset-1 col-sm-4">
                <label for="dateStart" class="control-label">Du</label>
                {{ form_widget(form.dateStart, {'attr': {'class':"form-control", 'style':"display: none"}}) }}
                <div class="help-none with-errors"></div>
                <input id="dpStart" class="form-control datepicker">
            </div>

            <!--DateEnd-->
            <div class="form-group has-feedback col-lg-offset-1 col-sm-4">
                <label class="control-label">Au</label>
                {{ form_widget(form.dateEnd, {'attr': { 'class':"form-control", 'style':"display: none"}}) }}
                <div class="help-none with-errors"></div>
                <input id="dpEnd" class="form-control datepicker">
            </div>
        </div>
        <hr>

        <!--Location-->
        <div class="form-group has-feedback ">
            <label class="control-label">Localisation</label>
            {{ form_widget(form.locationString, {'attr': {'class':"form-control", 'style':"display: none"}}) }}
        </div>
        <div id="location-form" class="row"></div>

        <!--Submit-->
        <div class="form-group">
            <button type="submit" class="btn btn-primary pull-right">Valider</button>
        </div>

        {{ form_end(form) }}

    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
            integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
            crossorigin=""></script>

    <script>
        competitionFormDates();

        $('#location-form').locationForm({
            output: $('#appbundle_competition_locationString')
        });
    </script>

{% endblock %}
