{#
TO DO
    LOCATION FORM
    *suivant touche entrer
    *faire api a part pour renvoyer ville par département ou json => permet de mettre fichier Json a part
        actuellement impossible a cause asset
    *différencier label value

    GENERAL
    *Bouton validé actif que si tout les champs sont ok
    *pop-up votre compétition à bien été enregistrée
#}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('datepicker/css/bootstrap-datepicker.css') }}"/>
{% endblock %}

{% block title %}
    {{ parent() }} Ajout compétition
{% endblock %}

{% block body %}

    {{ form_start(form, {'attr': {'data-toggle': 'validator', 'role':'form'}}) }}

    <!--Name-->
    <div class="form-group has-feedback ">
        <label class="control-label">Nom</label>
        {{ form_widget(form.name, {'attr': {'class':"form-control"}}) }}
        <div class="help-none with-errors">Entre 5 et 50 caractères alaphanumériques</div>
    </div>
    <hr>

    <!--Dates-->
    <label>Date</label>

    <div class="row">
        <!--DateStart-->
        <div class="form-group has-feedback col-lg-offset-1 col-sm-4">
            <label for="dateStart" class="control-label">Du</label>
            {{ form_widget(form.dateStart, {'attr': {'class':"form-control input-date-start", 'style':"display: none"}}) }}
            <div class="help-none with-errors"></div>
            <input class="form-control datepicker dpStart">
        </div>

        <!--DateEnd-->
        <div class="form-group has-feedback col-lg-offset-1 col-sm-4">
            <label class="control-label">Au</label>
            {{ form_widget(form.dateEnd, {'attr': { 'class':"form-control input-date-end", 'style':"display: none"}}) }}
            <div class="help-none with-errors"></div>
            <input class="form-control datepicker dpEnd">
        </div>
    </div>
    <hr>

    <!--Location-->
    <div class="form-group has-feedback ">
        <label class="control-label">Localisation</label>
        {{ form_widget(form.locationString, {'attr': { 'class':"form-control location-input", 'style':"display: none", 'minlength':"3"}}) }}
    </div>

    {% include('tools/form_location.html.twig') %}

    <!--Submit-->
    <div class="form-group">
        <button type="submit" class="btn btn-primary pull-right">Valider</button>
    </div>

    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/validator.js') }}"></script>
    <script src="{{ asset('datepicker/js/bootstrap-datepicker.js') }}"></script>
    <script src="{{ asset('datepicker/js/datepicker-fr.js') }}"></script>

    <script>

        //datepicker/////////////////////////////////////////////////////////////////////////////////////////////////
        var inputDateStart = $('.input-date-start');
        var inputDateEnd = $('.input-date-end');

        $('.datepicker').datepicker({
            language: 'fr',
            format: 'dd-mm-yyyy',
            todayBtn: 'linked',
            autoclose: true,
            todayHighlight: true
        });

        $('.dpStart').on('changeDate', function () {
            var startDate = parseDateFrToUs($('.dpStart').datepicker('getFormattedDate'));
            inputDateStart.val(startDate);
            inputDateStart.trigger('change');
            $('.dpEnd').datepicker(
                'setStartDate', $('.dpStart').datepicker('getDate')
            );
        });

        $('.dpEnd').on('changeDate', function () {
            var startDate = parseDateFrToUs($('.dpEnd').datepicker('getFormattedDate'));
            inputDateEnd.val(startDate);
            inputDateEnd.trigger('change');
            $('.dpStart').datepicker(
                'setEndDate', $('.dpEnd').datepicker('getDate')
            );
        });

        //IF UPDATE//////////////////////////////////////////////////////////////////////////////////////////////////

        {% if update is defined %}
        var cDateS = "{{ competition.dateStart }}";
        var cDateE = "{{ competition.dateEnd }}";
        var city = "{{ competition.location.city }}";
        var address = "{{ competition.location.street }}";
        var dep = "{{ competition.location.postCode }}";
        var x = "{{ competition.location.x }}";
        var y = "{{ competition.location.y }}";

        locationUpdate(dep, city, address, x, y);

        $('.dpStart').datepicker('update', parseDateUsToFr(cDateS));
        $('.dpEnd').datepicker('update', parseDateUsToFr(cDateE));

        {% endif %}

        //Tools//////////////////////////////////////////////////////////////////////////////////////////////////////

        function parseDateFrToUs(date) {

            var d = new Date(date.split("-").reverse().join("-"));
            var dd = ('0' + d.getDate()).slice(-2);
            var mm = d.getMonth() + 1;
            var mm = ('0' + mm).slice(-2);
            var yy = d.getFullYear();
            var newdate = yy + "-" + mm + "-" + dd;

            return newdate;
        }

        function parseDateUsToFr(date) {

            var d = new Date(date);
            var dd = ('0' + d.getDate()).slice(-2);
            var mm = d.getMonth() + 1;
            var mm = ('0' + mm).slice(-2);
            var yy = d.getFullYear();
            var newdate = dd + "-" + mm + "-" + yy;

            return newdate;
        }

    </script>

{% endblock %}
