{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .competition-show .address {
            margin-top: 2em;
        }
    </style>

{% endblock %}

{% block organizer_menu %}
    {% if competition.isOrganizer %}
        <input type="button" class="btn-xs btn-success" value="Ajouter une course"
               onclick="location.href = '{{ path('race_new', {'id':competition.id} ) }}';">

        <input type="button" class="btn-xs btn-success" value="Editer"
               onclick="location.href = '{{ path('competition_edit', {'id':competition.id} ) }}';">
    {% endif %}
{% endblock %}

{% block title %}
    {{ parent() }} {{ competition.name }}
{% endblock %}

{% block body %}

    <div class="row competition-show">

        <h1 class="col-xs-12 col-sm-6">{{ competition.name }}</h1>

        <div class="col-xs-12 col-sm-6 address">
            {{ competition.location.street }}<br>
            {{ competition.location.postCode }} {{ competition.location.city }}<br><br>
        </div>

        <span>Organisé par {{ competition.organizer.name }}</span> <br>

        <h4 style="text-align: center">Du {{ competition.dateStart|date("d/m/Y") }}
            au {{ competition.dateEnd|date("d/m/Y") }}</h4>

        {{ include('race/modelList.html.twig') }}
    </div>

{% endblock %}