{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block organizer_menu %}
    {% if competition.isOrganizer %}
        <button class="btn-xs btn-success" onclick="location.href = '{{ path('race_new', {'id':competition.id} ) }}'">
            Ajouter une course
        </button>
        <button class="btn-xs btn-success"
                onclick="location.href = '{{ path('competition_edit', {'id':competition.id} ) }}'">Editer
        </button>
        <button class="btn-xs btn-info" onclick="location.href = '{{ path('competition_show_byOrganizer') }}'">Toutes
            mes compétitions
        </button>
    {% endif %}
{% endblock %}

{% block title %}
    {{ parent() }} {{ competition.name }}
{% endblock %}

{% block body %}

    {{ 0|loader }}

    <div class="competition-show">
        <!--panels-->
        <div class="panel-show">
            <!--competition panel-->
            <div class="col-md-4">
                <div class="panel panel-success first-panel">
                    <div class="panel-heading competition-title">
                        <span class="title">{{ competition.name }} </span>
                        <span class="pull-right panel-header-img">
                                {% if competition.inChampionship %}
                                    <img src="{{ asset('img/cup.jpg') }}">
                                {% endif %}

                            {% if competition.valid %}
                                {{ competition.competitorRegister|registerImg }}
                            {% endif %}
                            </span>
                    </div>
                    <div class="panel-body row">
                        <span class="nb-race col-xs-12">{{ competition.nbValidRaces }} courses</span>
                        <span class="organizer col-xs-12"> Orga : {{ competition.organizer.name }}</span>
                    </div>
                </div>
            </div>

            <!--datetime panel-->
            <div class="col-md-4">
                <div class="panel panel-success date-time-panel">
                    <div class="panel-heading "><span class="glyphicon glyphicon-time"></span></div>
                    <div class="panel-body">
                        <span>Du {{ competition.dateStart|date("d/m/Y") }}</span>
                        <span>au {{ competition.dateEnd|date("d/m/Y") }}</span>
                    </div>
                </div>
            </div>

            <!--location panel-->
            <div class="col-md-4">
                <div class="panel panel-success location-panel">
                    <div class="panel-heading">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <span class="pull-right map-link">
                                {{ asset('img/google_map.jpg')|googleMapLink(competition.location.x,competition.location.y) }}
                            </span>
                    </div>
                    <div class="panel-body competition-location">
                        <span>{{ competition.location.street }}</span>
                        <span>{{ competition.location.postCode }}  {{ competition.location.city }}</span>
                    </div>
                </div>
            </div>

        </div>
            {% for race in races %}
                <div class="col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6">
                    {{ include('race/modelList.html.twig') }}
                </div>
            {% endfor %}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        {% if is_granted('ROLE_ORGANIZER') %}
        organizerResponsive();
        {% endif %}
        panelCategoriesHeight();
        loaderStop();
    </script>
{% endblock %}