<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>WS{% block title %}{% endblock %}</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.css">
        {#<link rel="stylesheet" href="{{ asset('css/main.min.css') }}"/>#}
        <link rel="stylesheet" href="{{ asset('css/main.css') }}"/>

    {% endblock %}

</head>

<body>

{% include 'navbar/general.html.twig' %}

{% if is_granted('ROLE_COMPETITOR') %}
    {% include 'modal/profile_competitor.html.twig' %}
{% endif %}


<!-- flashes info app -->
<div class="row">
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} col-sm-offset-2 col-sm-8">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
</div>

<!-- js info -->
<div id="info" class="alert alert-warning col-sm-offset-2 col-sm-8" style="display: none" class="row">
    <span></span>
    <button class="btn btn-default btn-sm" id="info-button">Rafraichir</button>
</div>

<!-- Body -->
<div class="container">
    <div class="row">
        <div class="visible-lg hidden-md hidden-sm hidden-xs alert alert-danger col-xs-12" align="center">lg</div>
        <div class="hidden-lg visible-md hidden-sm hidden-xs alert alert-success col-xs-12" align="center">md</div>
        <div class="hidden-lg hidden-md visible-sm hidden-xs alert alert-info col-xs-12" align="center">sm</div>
        <div class="hidden-lg hidden-md hidden-sm visible-xs alert alert-warning col-xs-12" align="center">xs</div>

    </div>
</div>


<div class="container">
    <!-- sidenav organizer -->
    {% if is_granted('ROLE_ORGANIZER') %}
        <div id="sidenav-organizer" class="sidenav-organizer">
            <div class="content">
                <button class="btn-xs btn-default sidenav-close" onclick="closeNav()">Fermer</button>
                {% block organizer_menu %}
                {% endblock %}
            </div>
        </div>
    {% endif %}

    <div id="main">
        {% block body %}
        {% endblock %}
    </div>
</div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/simplebar@latest/dist/simplebar.js"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    {#<script src="{{ asset('js/main.min.js') }}"></script>#}
    <script src="{{ asset('js/main.js') }}"></script>

    {% if is_granted('ROLE_ADMIN') %}
    <script>
        setTimeout(function () {
            navbarBadgeAdmin()
        }, 2000);
    </script>{% endif %}


    {% if is_granted('ROLE_COMPETITOR') %}
    <script>
        setTimeout(function () {
            navbarCompetitorProfile()
        }, 3000);

    </script>{% endif %}




{% endblock %}

</body>
</html>
