{#TO DO
- loader => raceShow
#}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.5/css/select.bootstrap.min.css"/>

    <style>


        #example span {
            display: none;
        }

        #example .championship {
            white-space: nowrap; /* this is required unless you put the helper span closely near the img */
            text-align: center;
            overflow: visible;
            /*background: #ffffff url('https://image.flaticon.com/icons/svg/291/291201.svg') no-repeat center center;*/
            background: url('http://robwilson.tv/wordpress/wp-content/uploads/2008/12/Question-mark.png') no-repeat center center;
            background-size: 25%;
        }
    </style>


{% endblock %}

{% block title %}
    {{ parent() }} Admin-races
{% endblock %}

{% block body %}

    <h1>Admin races</h1>

    <table id="example" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th></th>
            <th>id</th>
            <th>Nom</th>
            <th>Ville</th>
            <th>Orga.</th>
            <th>Date</th>
            <th>Champ.</th>
        </tr>
        </thead>
        <tbody>
        {% for race in races %}
            <tr>
                <td></td>
                <td>{{ race.id }}</td>
                <td>{{ race.name }}</td>
                <td>{{ race.competition.location.postCode }} {{ race.competition.location.city }}</td>
                <td>{{ race.name }}</td>
                <td><span>{{ race.dateTime | date("Ymd") }}</span> {{ race.dateTime | date("d/m/Y") }}</td>
                <td {% if race.requestInChampionship == 1 %} class="championship" style="text-indent: -9999px;" {% endif %}>{{ race.requestInChampionship }}</td>
            </tr>
        {% endfor %}


        </tbody>
    </table>



    <div class="race-show">
        <div class="buttons">
            <button type="button" class="btn btn-dark next glyphicon glyphicon-chevron-left"></button>
            <button type="button" class="btn btn-dark prev glyphicon glyphicon-chevron-right"></button>
            <button type="button" class="btn btn-dark valid">Valider</button>
            <button type="button" class="btn btn-dark refuse">Refuser</button>
            <label><input class="cb-Championship" type="checkbox">Championat</label>

        </div>


        {% include '/race/modelShow.html.twig' %}
    </div>



{% endblock %}
 {% block javascripts %}
     <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
     <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
     <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
     <script src="https://cdn.datatables.net/select/1.2.5/js/dataTables.select.min.js"></script>
     <script src="https://cdn.datatables.net/plug-ins/1.10.16/sorting/date-de.js"></script>
     <script src="{{ asset('js/jqueryui.min.js') }}"></script>

     <script>
         /*
      Where table select change
      - call function views/race/show.html.twig raceShow([idRace])

      isRaceValid / isRaceInChampionship
      - ajax  update
      */

         var raceSeclected;
         var indexSelected;
         var rowData;
         var cb = $('.cb-Championship');

         //initialize///////////////////////////////////////////////////////////////////////////////////////
         cb.checkboxradio(); //jquery-ui

         var table = $('#example').DataTable({
             "info":     false,
             "language" : {
                 "search": "Rechercher:",
                 "lengthMenu": "Voir _MENU_ courses  par page",
                 "zeroRecords": "Aucune courses non traitées",
                 "paginate": {
                     "first":      "Premier",
                     "last":       "Dernier",
                     "next":       "Suivant",
                     "previous":   "précédent"
                 },
             },

             select: {
                 style: 'single',
                 selector: 'td:first-child'
             },
             columns: [
                 {data: 'checkbox'},
                 {data: 'id'},
                 {data: 'name'},
                 {data: 'organizer'},
                 {data: 'city'},
                 {data: 'date'},
                 {data: 'championship'}
             ],
             columnDefs: [
                 {
                     targets: 0,
                     orderable: false,
                     className: 'select-checkbox',
                     width: "5%"
                 },
                 {
                     targets: 1,
                     visible: false
                 },
                 {
                     targets: 5,
                     width: "20%"
                 },
                 {
                     targets: 6,
                     width: "5%"
                 }
             ]
         }); //dataTables

         if (table.data().count()) {
             tableSelectRow(0);
             preRaceShow(0);
             $('.race-show').show();
         } else {
             $('.race-show').hide();
         }

         //Event///////////////////////////////////////////////////////////////////////////////////////
         table.on('select', function (e, dt, type, index) {
             preRaceShow(index);
         });

         $('.prev').click(function () {
             tableSelectRow(indexSelected + 1);
         });

         $('.next').click(function () {
             tableSelectRow(indexSelected - 1);
         });

         cb.click(function () {
             if (this.checked)
                 cbChampionship(true);
             else
                 cbChampionship(false);
         })

         $('.valid').click(function () {
             var inChampionship = 0;

             if (cb.prop('checked'))
                 inChampionship = 1;

             raceUpdate(raceSeclected, 1, inChampionship);
         });

         $('.refuse').click(function () {
             raceUpdate(raceSeclected, 0, 0);
         });

         //functions///////////////////////////////////////////////////////////////////////////////////////

         function preRaceShow(index) {

             $('.race-show').hide();


             if (table.data().count()) {
                 rowData = table.rows(index).data().toArray()[0];
                 raceSeclected = rowData['id'];
                 indexSelected = table.row(index).index();

                 cbChampionshipRefresh();

                 raceShow(raceSeclected); //views/race/show.html.twig

                 $('.race-show').show();
             }
         }

         function raceUpdate(raceSeclected, valid, inChampionship) {
             $.ajax({
                 url: "{{ path('race_admin_supervise') }}",
                 data: {race: raceSeclected, valid: valid, inChampionship: inChampionship},
                 success: function (data) {
                     console.log('raceUpdate success');
                     table.row(indexSelected).remove().draw();
                     tableSelectRow(0);
                     preRaceShow(0);
                 }
             });
         }

         //functions///////////////////////////////////////////////////////////////////////////////////////

         function cbChampionshipRefresh() {
             $('.cbChampionship').remove();

             if (rowData['championship'])
                 cbChampionship(true);
             else
                 cbChampionship(false);
         }

         function cbChampionship(is) {
             if (is)
                 cb.prop('checked', true).checkboxradio('refresh');
             else
                 cb.prop('checked', false).checkboxradio('refresh');
         }

         function tableSelectRow(index) {
             table.row(':eq(' + index + ')', {page: 'all'}).select();
         }

     </script>
 {% endblock %}
