<div id="panel-race-list" class="panel panel-primary panel-model panel-model-race">
    <div class="panel-heading">
        <span class="distance">{{ race.distance }} KM</span>
        <span class="panel-title">{{ race.name }}</span>
        <span class="pull-right panel-header-img">
            {% if race.inChampionship %}
                <img src="{{ asset('img/cup.jpg') }}">
            {% endif %}

            {% if race.valid %}
                {{ race.competitorRegister|registerImg }}
            {% endif %}
                    </span>
    </div>
    <div class="panel-body">
        <div class="date">{{ race.dateTime|localizeddate('none', 'none', 'fr_BR', null, "cccc d MMMM") }} {{ race.dateTime|date('H') }}
            H {{ race.dateTime|date('i') }}</div>

        <div class="col-xs-12">
            <div class="col-xs-7 location-container" value="{{ race.id }}">
                <div class="location col-xs-12">
                    <span class="map-link pull-right">{{ asset('img/google_map.jpg')|googleMapLink(race.competition.location.x,race.competition.location.y) }}</span>
                    {{ race.competition.location.street }}<br>
                    {{ race.competition.location.postCode }} {{ race.competition.location.city }}
                </div>
                <div class="competition-link col-xs-12">
                    <a href='{{ path('competition_show', {'id':race.competition.id} ) }}'><span
                                class="glyphicon glyphicon-circle-arrow-left"></span></a>
                    <span class="">{{ race.competition.name }}</span>
                </div>
            </div>
            <div class="col-xs-5">
                {% if race.fullCat %}
                    <div class="category-all">toutes catégories</div>
                {% else %}
                    <div data-simplebar id="categories-{{ race.id }}"  class="categories">
                        {% for category in race.categories %}
                            <div><span class="glyphicon glyphicon-arrow-right"></span> {{ category.name }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <input type="button" class="btn-xs btn-info" value="Détail"
               onclick="location.href = '{{ path('race_show', {'id': race.id}) }}';">

        {% if is_granted('ROLE_COMPETITOR') %}
                {% if race.competitorRegister == 1 %}
                    <input type="button" class="btn-xs btn-info" value="S'inscrire"
                           onclick="location.href = '{{ path('app_competitor_addrace', {'race': race.id}) }}';">
                {% endif %}
                {% if race.competitorRegister == 2 and race.enrol == 1 %}
                    <input type="button" class="btn-xs btn-info" value="Annuler"
                           onclick="location.href = '{{ path('app_competitor_removerace', {'race': race.id}) }}';">
                {% endif %}
        {% endif %}

        {% if race.isOrganizer == true %}
            <span class="organizer-content hidden-xs">
                <input type="button" class="btn-xs btn-success organizer-content" value="Editer"
                       onclick="location.href = '{{ path('race_edit', {'id': race.id}) }}';">
                <span class="panel-footer-img">
                {% if race.supervised %}
                    {{ race.valid|validImg }}
                {% else %}
                    <img src="{{ asset('img/question.png ') }}" class="pull-right">
                {% endif %}
                </span>
            </span>
        {% endif %}
    </div>
</div>
