{#
TO DO
    LOCATION FORM
    *suivant touche entrer
    *faire api a part pour renvoyer ville par département ou json => permet de mettre fichier Json a part
        actuellement impossible a cause asset
    *différencier label value

    GENERAL
    *Bouton validé actif que si tout les champs sont ok
    *pop-up votre compétition à bien été enregistrée
#}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('tools/tools.css') }}"/>
    <link rel="stylesheet" href="{{ asset('myDateTime/myDateTime.css') }}"/>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

    <style>
        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #ababab;
            box-shadow: 0px 0px 0px 0px #ababab;
        }

        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }

        .abcd {
            border-radius: 30px 30px 30px 30px;
            -moz-border-radius: 30px 30px 30px 30px;
            -webkit-border-radius: 30px 30px 30px 30px;
            border: 8px solid #c8d424;

            padding: 1em 1em 1em 1em;
        }

    </style>

{% endblock %}

{% block title %}
    {{ parent() }} Ajouter course
{% endblock %}

{% block body %}

     {{ form_start(form, {'attr': {'data-toggle': 'validator', 'role':'form'}}) }}

     <!--Name-->
     <div class="form-group has-feedback abcd">
         <label for="name" class="control-label">Nom</label>
         {{ form_widget(form.name, {'attr': {'class':"form-control"}}) }}
         <span class="glyphicon form-control-feedback" aria-hidden="true"></span>

         <div class="help-block with-errors">Entre 5 et 50 caractères alaphanumériques</div>
     </div>

     <!--Distance-->
     <div class="form-group has-feedback abcd">
         {{ form_widget(form.distance, {'attr': {'class':"form-control distance-input", 'style':"display: block"}}) }}

         {% include 'race/widget/distance.html.twig' %}
     </div>

     <!--Categories -->
     <div class="form-group has-feedback abcd">
         <label for="categories" class="control-label">Categories</label><br><br>
         <div style="display: block">
         {{ form_widget(form.categoriesString, {'attr':  {
             'type':"text",
             'min':"1",
             'class':"form-control categories-input",
             'required':'true'}}) }}

         {{ form_widget(form.requestInChampionship, {'attr':  {
             'class':"championship-check",
         }}) }}
         </div>
         {% include 'race/widget/categories.html.twig' %}
     </div>

     <!--Date Time-->
     <div class="form-group has-feedback abcd">
         <label for="date-time" class="control-label">Date</label>
         {{ form_widget(form.dateTime, {'attr':  {
             'type':"text",
             'min':"1",
             'style':"display: block",
             'class':"form-control date-time-input result",
             'data-error':"Format de date non valide",
             'required':'true'}}) }}
         <div class="row">
             <div id="myDateTime" class="col-sm-offset-2 col-sm-6"></div>
         </div>
     </div>

     <div class="form-group">
         <button type="submit" class="btn btn-primary">Submit</button>
     </div>

     {{ form_end(form) }}
{% endblock %}

 {% block javascripts %}
     {{ parent() }}

     <script src="{{ asset('tools/tools.js') }}"></script>
     <script src="{{ asset('js/validator.js') }}"></script>

     <! distance********************************************************************************************************>
     <script>
         $('#distance-widget').change(function () {
             $('.distance-input').val($('#distance-widget').val())
         })
     </script>

     <! checkbox categories********************************************************************************************************>
     <script src="{{ asset('js/jqueryui.min.js') }}"></script>
     <script>

         var cbAllCat = $('.cbCategories-all');
         var cbOnce = $('.category-once');
         var cbChamp = $('.cb-championship');
         var catInput = $('.categories-input');
         var champCheck = $('.championship-check');
         var categories;

         // Initalize
         cbAllCat.checkboxradio();
         cbOnce.checkboxradio();
         cbChamp.checkboxradio();

         cbChamp.click(function () {
             if (this.checked)
                 champCheck.prop('checked', true).checkboxradio('refresh')
             else
                 champCheck.prop('checked', false).checkboxradio('refresh')
         })

         cbAllCat.click(function () {
             if (this.checked)
                 cbOnce.prop('checked', true).checkboxradio('refresh')
             else
                 cbOnce.prop('checked', false).checkboxradio('refresh')

             categoriesUpdate();
         });

         cbOnce.click(function () {
             categoriesUpdate()
         });

         {% for category in race.categories %}
         $('.category-once').each(function () {

             if ($(this).val() == {{ category.id }} ) {
                 $(this).prop('checked', true).checkboxradio('refresh');
                 console.log({{ category.id }})
             }
             categoriesUpdate();

         });

         {% endfor %}


         function categoriesUpdate() {
             var i = 0;
             categories = [];
             $('.category-once').each(function () {
                 i++;
                 if (this.checked)
                     categories.push($(this).val());
             });

             if (categories.length < i)
                 cbAllCat.prop('checked', false).checkboxradio('refresh');

             if (categories.length > 0)
                 catInput.val(JSON.stringify(categories));
             else
                 catInput.val('');

             catInput.trigger('change');
         }
     </script>

     <! datepicker***************************************************************************************************>
     <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
     <script src="{{ asset('datepicker/datepicker-fr.js') }}"></script>
     <script src="{{ asset('myDateTime/myDataTime.js') }}"></script>

     <script>

         {% if race.dateTime is null %}
         defaultDate = "{{ race.competition.dateStart | date('Y-m-d') }}";
         defaultHour = 15;
         defaultMinute = 45;
         {% else %}
         defaultDate = {{ race.dateTime | date('Y-m-d') }};
         defaultHour = {{ race.dateTime | date('H') }};
         defaultMinute = {{ race.dateTime | date('i') }};
         {% endif %}

         myDatapiker({
             startDate: "{{ race.competition.dateStart | date('Y-m-d') }}",
             endDate: "{{ race.competition.dateEnd | date('Y-m-d') }}",
             defaultDate: defaultDate,
             defaultHour: defaultHour,
             defaultMinute: defaultMinute
         });
     </script>
 {% endblock %}
