{#
TO DO
    LOCATION FORM
    *suivant touche entrer
    *faire api a part pour renvoyer ville par département ou json => permet de mettre fichier Json a part
        actuellement impossible a cause asset
    *différencier label value

    GENERAL
    *Bouton validé actif que si tout les champs sont ok
    *pop-up votre compétition à bien été enregistrée
#}

{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{{ asset('tools/tools.css') }}"/>
    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">

    <style>
        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 0 !important;
            -webkit-box-shadow: 0px 0px 0px 0px #ababab;
            box-shadow: 0px 0px 0px 0px #ababab;
        }

        legend.scheduler-border {
            font-size: 1.2em !important;
            font-weight: bold !important;
            text-align: left !important;
            width: auto;
            padding: 0 10px;
            border-bottom: none;
        }

        .time-input input {
            height: 100%;
            width: 100%;
            text-align: center;
            font-size: 20px;
        }

        .time-input .separator {
            font-size: 20px;
            text-align: center;
        }

        .date-show {
            font-size: 20px;
            text-align: center;
            margin-top: 2em;
            margin-bottom: 2em;
        }

        #datepicker {
            float: none;
            margin: 0 auto;
        }


    </style>

{% endblock %}

{% block title %}
    {{ parent() }} Ajouter course
{% endblock %}

{% block body %}
    <h1>Race</h1>

    <form action="{{ path('race_new', {'id':competition.id}) }}" method="post" id="race-form" data-toggle="validator" role="form">

        <!--Name-->
        <div class="form-group has-feedback">
            <label for="name" class="control-label">Nom</label>
            <input id="name" type="text" pattern="^[_A-z0-9]{1,}$" minlength="3" maxlength="25" class="form-control"
                   data-error="Utiliser uniquement des caractères alpha-numériques [A-z 0-9]. Entre 3 et 25 caractères"
                   required>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block with-errors">Entre 3 et 25 caractères alaphanumériques</div>

        </div>
        <hr>
        <!--Distance-->
        <div class="form-group has-feedback">
            <label for="distance" class="control-label">Distance</label>
            <input id="distance" type="text" pattern="^[_0-9]{1,}$" minlength="1" maxlength="4" class="form-control"
                   required>
            <span class="glyphicon form-control-feedback" aria-hidden="true"></span>
            <div class="help-block with-errors">En km entre 1 et 999,99</div>
        </div>
        <hr>
        <!--Date Time-->
        <div class="form-group has-feedback">
            <label for="date-time" class="control-label">Date</label>
            <input id="date-time" style="display: none" type="text" minlength="1" class="form-control"  required
                   data-error="Format de date non valide">
        </div>
        {% include 'tools/time_input.html.twig' %}
        <hr>
        <!--Categories -->
        <div class="form-group has-feedback">
            <label for="categories" class="control-label">Categories</label>
            <input id="categories" style="display: none" type="text" minlength="1" class="form-control" 
                   required>
        </div>
        {% include 'tools/cb_categories.html.twig' %}

        <!--Submit -->
        <div class="form-group">
            <button class="btn btn-primary">Valider cette course</button>
        </div>
    </form>

        <button onclick="raceFlush()"  class="btn btn-primary">Valider cette course</button>
{% endblock %}

 {% block javascripts %}
     {{ parent() }}

     <script src="{{ asset('tools/tools.js') }}"></script>
     <script src="{{ asset('js/validator.js') }}"></script>

     <! checkbox categories********************************************************************************************************>
     <script src="{{ asset('js/jqueryui.min.js') }}"></script>
     <script>

         var cbAll = $('.cbCategories-all');
         var cbOnce = $('.category-once');
         var cbForm = $('#categories');

         var categories;

         // Initalize
         cbAll.checkboxradio();
         cbOnce.checkboxradio();

         cbAll.click(function () {
             if (this.checked)
                 cbOnce.prop('checked', true).checkboxradio('refresh')
              else
                 cbOnce.prop('checked', false).checkboxradio('refresh')

             categoriesUpdate();
         });

         cbOnce.click(function () {
             categoriesUpdate()
         });

         function categoriesUpdate() {
             var i = 0;
             categories = [];
             $('.category-once').each(function () {
                 i++;
                 if (this.checked)
                     categories.push($(this).val());
             });

             if (categories.length < i)
                 cbAll.prop('checked', false).checkboxradio('refresh');

             if (categories.length > 0)
                 cbForm.val(JSON.stringify(categories));
             else
                 cbForm.val('');

             cbForm.trigger('change');
         }
     </script>

     <! datepicker***************************************************************************************************>
     <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
     <script src="{{ asset('datepicker/datepicker-fr.js') }}"></script>
     <script>
         var dp = $('#datepicker');

         dp.datepicker({
             useCurrent: true,
             language: 'fr',
             format: 'dd-mm-yyyy',
             startDate: "{{ competition.dateStart | date('d-m-Y') }}",
             endDate: "{{ competition.dateEnd | date('d-m-Y') }}"
         });
         dp.datepicker('update', "{{ competition.dateStart | date('d-m-Y') }}");
         dateString();

         dp.on('changeDate', function () {
             dateString();
         });

         function dateString() {
             $('.date-show').text(
                 dp.datepicker('getUTCDate').toLocaleDateString('fr-FR', {
                         weekday: 'long', year: 'numeric', month: 'long', day: 'numeric'
                     }
                 ));
         }
     </script>

     <! TimePicker***************************************************************************************************>
     <script>
         $('.time-input input').change(function () {
             var hour = $('#time-hour').val();
             var minute = $('#time-minute').val();
             var dt = $('#date-time');

             if ($.isNumeric(hour) && $.isNumeric(minute)) {
                 if (hour <= 23 && minute <= 59) {
                     dt.val(dp.datepicker('getFormattedDate') + '-' + hour + '-' + minute);
                 } else {
                     dt.val('');
                 }
             } else {
                 console.log('none isnumeric');
                 console.log('false');
                 dt.val('');
             }
             dt.trigger('change');
         });
     </script>

     <! Flush***************************************************************************************************>
     <script>
         function raceFlush() {

             var race = {
                 name: $('#name').val(),
                 distance: $('#distance').val(),
                 dateTime: $('#date-time').val(),
                 categories: $('#categories').val(),
                 competition: {{ competition.id }}
             };

             console.log(race);

             {#
                          $.ajax({
                 url: "{{ path('race_new_toFlush') }}",
                 data: {
                     race: race
                 },
                 dataType: "json",
                 success: function (response) {
                     messageFullPage('Votre course à bien enregistrée');
                 }
             });

             #}
         }

     </script>
 {% endblock %}