{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} index
{% endblock %}

{% block body %}

    <h1>Race</h1>

    {{ race.code }}<br><br><br>



    {% for r in cr %}

        {{ r.competitor.firstName }} {{ r.competitor.lastName }} {{ r.chrono|date('H:i:s') }} <br>

    {% endfor %}

{% endblock %}