{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.datatables.net/select/1.2.5/css/select.bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css"/>


    <style>

        .date-time-panel span {
            display: block;
            text-align: center;
            font-size: larger;
        }

        .location-panel span {
            display: block;
            text-align: center;
            font-size: larger;
        }

        .race-panel .panel-body .competition span {
            font-size: larger;
        }

        .race-panel .panel-body .organizer {
            font-size: smaller;
            text-align: right;
        }

        .race-title span {
            display: inline;
            font-weight: bolder;
            font-size: larger;

        }

        .race-title img {
            max-height: 1.5em;

        }

        .race-organizer {
            margin-bottom: 2em;
        }

        .btn-category {
            padding: 1em;
            height: 2em;
        }

        .race-distance {
            display: block;
            text-align: center;
            font-weight: bolder;
            font-size: larger;
            margin-top: 0.5em;

        }

    </style>

{% endblock %}

{% block title %}
    {{ parent() }} {{ race.name }}
{% endblock %}

{% block organizer_menu %}
    {% if race.isOrganizer == true %}
        {% if race.enrol == true %}
            <input type="button" class="btn-xs btn-success" value="Clore les inscriptions"
                   onclick="location.href = '{{ path('race_enrol_closed', {'id':race.id} ) }}';">

            <input type="button" class="btn-xs btn-success" value="Simuler inscription"
                   onclick="location.href = '{{ path('race_simulateEnrol', {'id':race.id} ) }}';">
        {% endif %}

        {% if race.state == 1 %}
            <input type="button" class="btn-xs btn-success" value="Importer les temps de courses"
                   onclick="location.href = '{{ path('race_competitorsTimes', {'id':race.id} ) }}';">
        {% endif %}





    {% endif %}
{% endblock %}

{% block body %}
    {% block show_race %}
        <div class="race-show row">
            <!--panels-->
            <div class="row">
                <!--race panel-->
                <div class="col-xs-4">
                    <div class="panel panel-primary race-panel">
                        <div class="panel-heading race-title">
                            <span class="panel-title">{{ race.name }} </span>
                            <span class="pull-right">
                                {% if race.inChampionship %}
                                    <img src="{{ asset('img/cup.jpg') }}" class="img-circle">
                                {% endif %}

                                {% if race.valid %}
                                    {{ race.competitorRegister|registerImg }}
                                {% endif %}
                    </span>
                        </div>
                        <div class="panel-body row">
                            <div class="col-xs-8 competition ">
                                <a href='{{ path('competition_show', {'id':race.competition.id} ) }}'><span
                                            class="glyphicon glyphicon-circle-arrow-left"></span></a>
                                <span class="">{{ race.competition.name }}</span>
                                <div class="organizer">Orga : {{ race.competition.organizer.name }}</div>
                            </div>
                            <div class="col-xs-4">
                                <span class="race-distance">{{ race.distance }} KM</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!--datetime panel-->
                <div class="col-xs-4">
                    <div class="panel panel-primary date-time-panel">
                        <div class="panel-heading "><span class="glyphicon glyphicon-time"></span></div>
                        <div class="panel-body">
                            <span class="date-day">{{ race.dateTime|localizeddate('none', 'none', 'fr_BR', null, "cccc d MMMM") }}</span>
                            <span class="date-hour">{{ race.dateTime|date('H') }} H {{ race.dateTime|date('i') }}</span>
                        </div>
                    </div>
                </div>

                <!--location panel-->
                <div class="col-xs-4">
                    <div class="panel panel-primary location-panel">
                        <div class="panel-heading"><span class="glyphicon glyphicon-map-marker"></span></div>
                        <div class="panel-body race-location">
                            <span>{{ race.competition.location.street }}</span>
                            <span>{{ race.competition.location.postCode }}  {{ race.competition.location.city }}</span>
                        </div>
                    </div>
                </div>

            </div>
            <!--buttons categories-->
            <div class="row">
                <div class="btn-category col-xs-3 col-lg-2">
                    <button class="btn-xs btn-info col-xs-12 btn-general"
                            onclick="requestForTableGeneral({{ race.id }})"
                            href="#tables">
                        Classement général
                    </button>
                </div>
                {% for c in race.categories %}
                    <div class="btn-category col-xs-3 col-lg-2">
                        <button
                                class="btn-xs btn-info col-xs-12"
                                onclick="requestForTableCategory({{ race.id }}, {{ c.id }}, '{{ c.name }}')"
                                href="#tables">
                                {{ c.name }}</button>
                    </div>
                {% endfor %}
            </div>


        </div>
    {% endblock %}
    <!----------------------------------------------------------------------------------------------------------------->


    {% block ranck_race %}
        <br>
        <div id="loader"></div>
        <div class="row">
            <div id="tables">
                {% if race.inChampionship == true %}
                    <div id="buttons"></div>
                {% endif %}

                <div id="tableRace">

                    <div id="table-race-container">
                        <table id="table-race" cellspacing="0" width="100%">
                            <thead>
                            <tr class="row-table-race">
                            </tr>
                            </thead>
                        </table>
                    </div>


                    <div id="table-race-category-container">
                        <table id="table-race-category" cellspacing="0" width="100%">
                            <thead>
                            <tr class="row-table-race-category">
                            </tr>
                            </thead>
                        </table>
                    </div>


                </div>

                <div id="tableChampionship">
                    <table id="dataTableChampionship" cellspacing="0" width="100%">
                        <thead>
                        <tr>
                            <th>Classement</th>
                            <th>Nom</th>
                            <th>Prénom</th>
                            <th>Points</th>
                        </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>

    {% endblock %}



{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>

        //buttons change
        $('.btn-info').click(function () {

            $('.btn-category > button').attr('class','btn-xs btn-info col-xs-12');

            $(this).attr('class','btn-xs btn-primary col-xs-12');
        });


        $(document).ready(function () {
            requestForTableGeneral({{ race.id }});
            $('#tables').css('display', 'none');
            $('#loader').css('display', 'block');

            $('.btn-general').attr('class','btn-xs btn-primary col-xs-12');
        });

        function requestForTableGeneral(idRace) {
            var request = {idRace: idRace, category: 'all'};
            getRaceTable(request, 'all');
            load(true);
            etat('general');
        }

        function requestForTableCategory(idRace, idCategory, nameCategory) {
            var request = {idRace: idRace, category: idCategory};
            getRaceTable(request, idCategory);
            load(true);
            etat('general');
        }

        function requestForTableChampionship(idRace, idCategory, nameCategory) {
            var path = "{{ path('championship_json') }}";
            var request = {idCategory: idCategory};
            getRaceTableChampionship(path, request);
            $('#buttons').children("button").remove();
            $('#buttons').append("<button id=\"raceButton\" onclick=\"requestForTableCategory(" + idRace + ", " + idCategory + ",' " + nameCategory + " ')\">Course</button>");
            load(true);
            etat('championship');
        }

        function getRaceTable(request, category) {
            $.ajax({
                url: "{{ path('race_Table') }}",
                data: request,
                success: function (result) {
                    displayTable(result, category);
                }
            });
        }

        function displayTable(data, category) {
            console.log(category);

            var container = $('#tables')
            var rowTable = $('.row-table-race');
            var language = {
                "search": "Rechercher:",
                "lengthMenu": "Voir _MENU_ compétiteurs  par page",
                "zeroRecords": "Aucune inscription",
                "paginate": {
                    "first": "Premier",
                    "last": "Dernier",
                    "next": "Suivant",
                    "previous": "précédent"
                }
            };
            var options;
            var option2 = {
                "info": false,
                "language": {
                    "search": "Rechercher:",
                    "lengthMenu": "Voir _MENU_ courses  par page",
                    "zeroRecords": "Aucune courses non traitées",
                    "paginate": {
                        "first": "Premier",
                        "last": "Dernier",
                        "next": "Suivant",
                        "previous": "précédent"
                    },
                },

                columns: [
                    {data: 'checkbox'},
                    {data: 'id'},
                    {data: 'name'},
                    {data: 'organizer'},
                    {data: 'city'},
                    {data: 'date'},
                    {data: 'championship'}
                ],
                columnDefs: [
                    {
                        targets: 0,
                        orderable: false,
                        className: 'select-checkbox',
                        width: "5%"
                    },
                    {
                        targets: 1,
                        visible: false
                    },
                    {
                        targets: 5,
                        width: "20%"
                    },
                    {
                        targets: 6,
                        width: "5%"
                    }
                ]
            };


            if (category === 'all') {
                switch (data.race_state) {
                    case 0:
                        raceOpenOptions();
                        break;

                    case 1:
                        raceCloseOptions();
                        break;

                    case 2:
                        racePassedOptions();
                        break;
                }
                $('#table-race-category-container').hide();
                $('#table-race-container').show();
                $('#table-race').dataTable(options);
            } else {
                switch (data.race_state) {
                    case 0:
                        raceCategoryOpenOptions();
                        break;

                    case 1:
                        raceCategoryCloseOptions();
                        break;

                    case 2:
                        raceCategoryPassedOptions();
                        break;
                }
                $('#table-race-container').hide();
                $('#table-race-category-container').show();
                $('#table-race-category').dataTable(options);
            }


            load(false);

            function raceOpenOptions() {
                console.log('raceOpenOptions');
                options = {
                    destroy: true,
                    data: data.competitors,
                    language: language,
                    columns: [
                        {data: 'lastName'},
                        {data: 'firstName'},
                        {data: 'category'}
                    ]
                };
                rowTable.empty();

                rowTable.append("<th>Nom</th>");
                rowTable.append("<th>Prénom</th>");
                rowTable.append("<th>Catégorie</th>");
                container.addClass('col-lg-offset-2 col-lg-8');
            }

            function raceCloseOptions() {
                options = {
                    destroy: true,
                    data: data.competitors,
                    language: language,
                    columns: [
                        {data: 'number'},
                        {data: 'lastName'},
                        {data: 'firstName'},
                        {data: 'category'}
                    ]
                };
                rowTable.empty();
                rowTable.append("<th>Dossard</th>");
                rowTable.append("<th>Nom</th>");
                rowTable.append("<th>Prénom</th>");
                rowTable.append("<th>Catégorie</th>")
            }

            function racePassedOptions() {
                options = {
                    destroy: true,
                    data: data.competitors,
                    language: language,
                    order: [[0, "asc"]],
                    columns: [
                        {data: 'ranck'},
                        {data: 'lastName'},
                        {data: 'firstName'},
                        {data: 'chronoString'},
                        {data: 'category'},
                        {data: 'ranckCategory'}
                        {% if race.inchampionship %}
                        ,{data: 'points'}
                        {% endif %}
                    ]

                };

                rowTable.empty();
                rowTable.append("<th>Gen.</th>");
                rowTable.append("<th>Nom</th>");
                rowTable.append("<th>Prénom</th>");
                rowTable.append("<th>Chrono</th>");
                rowTable.append("<th>Catégorie</th>");
                rowTable.append("<th>cls.</th>");
                {% if race.inchampionship %}
                rowTable.append("<th>Point</th>");
                {% endif %}
            }

            function raceCategoryOpenOptions() {
                rowTable = $('.row-table-race-category');
                options = {
                    destroy: true,
                    data: data.competitors,
                    language: language,
                    columns: [
                        {data: 'lastName'},
                        {data: 'firstName'},
                    ]
                };
                rowTable.empty();
                rowTable.append("<th>Nom</th>");
                rowTable.append("<th>Prénom</th>");

                //container.
            }

            function raceCategoryCloseOptions() {
                rowTable = $('.row-table-race-category');
                options = {
                    destroy: true,
                    data: data.competitors,
                    language: language,
                    columns: [
                        {data: 'number'},
                        {data: 'lastName'},
                        {data: 'firstName'},
                    ]
                };
                rowTable.empty();
                rowTable.append("<th>Dossard</th>");
                rowTable.append("<th>Nom</th>");
                rowTable.append("<th>Prénom</th>");
            }

            function raceCategoryPassedOptions() {
                rowTable = $('.row-table-race-category');
                options = {
                    destroy: true,
                    data: data.competitors,
                    language: language,
                    order: [[0, "asc"]],
                    columns: [
                        {data: 'ranckCategory'},
                        {data: 'lastName'},
                        {data: 'firstName'},
                        {data: 'chronoString'},
                        {data: 'ranck'}
                        {% if race.inchampionship %},
                        {data: 'points'}
                        {% endif %}
                    ]

                };

                rowTable.empty();
                rowTable.append("<th>Cls</th>");
                rowTable.append("<th>Nom</th>");
                rowTable.append("<th>Prénom</th>");
                rowTable.append("<th>Chrono</th>");
                rowTable.append("<th>Gen.</th>");
                {% if race.inchampionship %}
                rowTable.append("<th>Point</th>");
                {% endif %}

            }
        }

        function getRaceTableChampionship(path, request) {
            $.ajax({
                url: path,
                data: request,
                success: function (result) {
                    $('#dataTableChampionship').dataTable({
                        destroy: true,
                        data: result,
                        order: [[3, "dsc"]],
                        columns: [
                            {data: 'ranck'},
                            {data: 'lastName'},
                            {data: 'firstName'},
                            {data: 'points'}]
                    });

                    load(false);
                }
            });
        }

        function etat(stat) {
            switch (stat) {
                case 'category':
                    $('#championshipButton').css('display', 'block');
                    $('#raceButton').css('display', 'none');
                    $('#tableRace').css('display', 'block');
                    $('#tableChampionship').css('display', 'none');
                    break;
                case 'championship':
                    $('#championshipButton').css('display', 'none');
                    $('#raceButton').css('display', 'block');
                    $('#tableRace').css('display', 'none');
                    $('#tableChampionship').css('display', 'block');
                    break;
                case 'general':
                    $('#championshipButton').css('display', 'none');
                    $('#raceButton').css('display', 'none');
                    $('#tableRace').css('display', 'block');
                    $('#tableChampionship').css('display', 'none');
                    $('#category').text("Classement général");
                    break;
                default:
                    $('#championshipButton').css('display', 'none');
                    $('#raceButton').css('display', 'none');
                    $('#tableRace').css('display', 'block');
                    $('#tableChampionship').css('display', 'none');
                    alert('category');
            }
        }

        function load(stat) {
            switch (stat) {
                case true:
                    $('#tables').css('display', 'none');
                    $('#loader').css('display', 'block');
                    ;
                    break;
                case false:
                    $('#tables').css('display', 'block');
                    $('#loader').css('display', 'none');
                    break;
                default:
                    $('#tables').css('display', 'block');
                    $('#loader').css('display', 'none');
            }
        }


    </script>

{% endblock %}
