{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} index
{% endblock %}

{% block body %}


    {% if isOrganizer == true %}
        <input type="button" class="btn btn-success" value="Clore les inscriptions"
               onclick="location.href = '{{ path('race_enrol_closed', {'id':race.id} ) }}';">

        <input type="button" class="btn btn-success" value="Importer les temps de courses"
               onclick="location.href = '{{ path('race_competitorsTimes', {'id':race.id} ) }}';">

        <input type="button" class="btn btn-success" value="Simuler inscription"
               onclick="location.href = '{{ path('race_simulateEnrol', {'id':race.id} ) }}';">
    {% endif %}

    <h1>Race</h1>


    {{ race.name }}<br>

    <h1>Classement général</h1>
    <table id="" class="display">
        <thead>
        <tr>
            {% if not race.enrol %}
                <th>Dossard</th>{% endif %}
            <th>Nom</th>
            <th>Prénom</th>
            {% if race.past %}
                <th>Chrono</th>{% endif %}
        </tr>
        </thead>
        <tbody>
        {% for competitor in generalRanck %}
            <tr>
                {% if not race.enrol %}
                    <td>{{ competitor.number }}</td>{% endif %}
                <td>{{ competitor.firstName }}</td>
                <td>{{ competitor.lastName }}</td>
                {% if race.past %}
                    <td>{{ competitor.chrono|date('H:i:s') }}</td>{% endif %}

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Classement par catégorie</h1>

    {% for r in categoriesRanck %}
        <div class="col-xs-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{ r.category.name }}</h3>
                </div>
                <div class="panel-body">
                    <table id="" class="display">
                        <thead>
                        <tr>
                            {% if not race.enrol %}
                                <th>Dossard</th>{% endif %}
                            <th>Nom</th>
                            <th>Prénom</th>
                            {% if race.past %}
                                <th>Chrono</th>{% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for competitor in r.competitors %}
                            <tr>
                                {% if not race.enrol %}
                                    <td>{{ competitor.number }}</td>{% endif %}
                                <td>{{ competitor.firstName }}</td>
                                <td>{{ competitor.lastName }}</td>
                                {% if race.past %}
                                    <td>{{ competitor.chrono|date('H:i:s') }}</td>{% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endfor %}

    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
    </script>

{% endblock %}