{% extends 'form_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
    <link rel="stylesheet" href="{{ asset('css/multi-switch.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/jquery.mCustomScrollbar.min.css') }}"/>

    <style>
      #search-bar {
            margin-top: 3em;
        }

      .races-container{
          padding-right: 10em;
      }
    </style>

{% endblock %}

{% block title %}
    {{ parent() }} Recherche courses
{% endblock %}

{% block body %}

    <div class="col-xs-3 search-bar-container">
        {% include 'race/widget/searchBar.html.twig' %}
    </div>
    <div class="col-xs-offset-1  col-xs-8">
        {% for race in races %}
            <div class="col-xs-12 races-container">
                {{ include('race/modelList.html.twig') }}
            </div>
        {% endfor %}
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script>
            panelCategoriesScroll();
            searchBarRace();
        </script>
    {% endblock %}