{% block stylesheets %}
    {{ parent() }}

    <style>
        .panel span {
            display: block;
            text-align: center;
            font-size: larger;
        }

        .race-organizer {
            margin-bottom: 2em;
        }

        .btn-category {
            padding: 1em;
            height: 2em;
        }

        .race-distance {
            text-align: center;
            font-size: 20px;
            font-weight: bolder;
            margin-top: 2em;
            margin-bottom: 2em;
        }
    </style>

{% endblock %}


<h2 style="text-align: center"><span id="competition">{{ race.competition.name }}</span> / <span
            id="race_name">{{ race.name }}</span></h2>

<div class="race-organizer">Organisateur : <span class="organizer">{{ race.competition.organizer.name }}</span></div>


<div class="col-xs-12 col-md-5">
    <div class=" col-xs-offset-1 col-xs-10">
        <div class="panel panel-primary">
            <div class="panel-heading "><span class="glyphicon glyphicon-time"></span></div>
            <div class="panel-body">
                <span class="date-day">{{ race.dateTime|localizeddate('none', 'none', 'fr_BR', null, "cccc d MMMM") }}</span>
                <span class="date-hour">{{ race.dateTime|date('H') }} H {{ race.dateTime|date('i') }}</span>


            </div>
        </div>
    </div>
    <div class=" col-xs-offset-1 col-xs-10">
        <div class="panel panel-primary ">
            <div class="panel-heading"><span class="glyphicon glyphicon-map-marker"></span></div>
            <div class="panel-body race-location">
                <span>{{ race.competition.location.street }}</span>
                <span>{{ race.competition.location.postCode }}  {{ race.competition.location.city }}</span>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-12 col-md-7">

    <div class="col-xs-12 race-distance">{{ race.distance }} KM</div>

    <div class="row">
        {% for c in race.categories %}
            <div class="btn-category col-xs-6 col-lg-4">
                <button class="btn-xs btn-info col-xs-12" value="{{ c.id }}">{{ c.name }}</button>
            </div>
        {% endfor %}
    </div>

</div>

{% for c in race.categories %}
    <button class="btn-xs btn-info"
            onclick="requestForTableCategory({{ race.id }}, {{ c.id }}, '{{ c.name }}')">{{ c.name }}</button>
{% endfor %}


