{% extends 'form_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
    <link rel="stylesheet" href="{{ asset('css/multi-switch.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('css/jquery.mCustomScrollbar.min.css') }}"/>

    <style>


        #search-bar {
            margin-top: 3em;

        }

        @media (min-width: 1200px) {
            #search-bar, .button-search {
                min-width: 17em;
            }
        }

        .search-bar-container{
            padding: 0em 0em 0em 0em;
            margin-left: 2em;
            margin-right: 2em;
        }

    </style>

{% endblock %}

{% block title %}
    {{ parent() }} Recherche courses
{% endblock %}

{% block body %}

    <div class="col-xs-2 search-bar-container">
        {% include 'race/widget/searchBar.html.twig' %}
    </div>
    <div class="col-xs-9">
        {% for race in races %}
            <div class="col-xs-12 col-lg-6 races-container">
                {{ include('race/modelList.html.twig') }}
            </div>
        {% endfor %}
    </div>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('js/jquery.mCustomScrollbar.concat.min.js') }}"></script>
        <script>
            panelCategoriesScroll();
            searchBarRace();
        </script>
    {% endblock %}