{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} index
{% endblock %}

{% block body %}

    <h1>Race</h1>

    {{ race.name }}<br>

    {% if isOrganizer == true %}

        <input type="button" class="btn btn-success" value="Clore les inscriptions"
               onclick="location.href = '{{ path('race_enrol_closed', {'id':race.id} ) }}';">

        <input type="button" class="btn btn-success" value="Importer les temps de courses"
               onclick="location.href = '{{ path('race_competitorsTimes', {'id':race.id} ) }}';">

        <input type="button" class="btn btn-success" value="Simuler inscription"
               onclick="location.href = '{{ path('race_simulateEnrol', {'id':race.id} ) }}';">
    {% endif %}

{% endblock %}