{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} index
{% endblock %}

{% block body %}

    <h1>Test</h1>



    {{ test.code }}

    {% if test.competitorCanEntry %}
        <p>Inscription</p>
    {% endif %}

    {% if test.competitorCanEntry == false %}
        <p>False</p>
    {% endif %}

    {% for category in test.categories %}
        <P>
            {{ category.code }} {{ category.sexe }} {{ category.ageMin }} / {{ category.ageMax }}

        </P>
    {% endfor %}



{% endblock %}