{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} index
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>

    <style>


        #search-bar .panel-heading {
            height: 1.5em;
            padding: 0em;
        }

        .panel-title .glyphicon {
            margin: 0.2em 1em 0em 1em;
        }

        .dep-container {
            padding: 0.5em 0em 0em 0.5em;

        }


    </style>

{% endblock %}

{% block body %}

    {#    {% for key,reg in regions %}
            {{ key }}<br>

            {% for dep in reg %}
                {{ dep.code }} - {{ dep.name }}<br>
            {% endfor %}
            <hr>
        {% endfor %}#}



    <div class="col-md-3">
        <div id="search-bar">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">Collapsible Group 2</a>
                        </h4>
                    </div>
                    <div id="collapse2" class="panel-collapse collapse">
                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        </div>
                    </div>
                </div>
                <!-- REGIONS -->
                <div id="region-container" class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a data-toggle="collapse" href="#menuPanelRegion">
                                <span>Localisation</span>
                            </a>
                        </div>
                    </div>
                    <ul class="list-group collapse" id="menuPanelRegion">
                        <li class="list-group-item librePanelListGroupItem">
                            <a data-toggle="collapse" href="#region-1">
                                <span>Bretagne</span>
                                <b class="pull-right glyphicon glyphicon-chevron-right"></b>
                            </a>

                            <ul id="region-1" class="collapse librePanelSubListGroupItem">

                                <span>22 - Côtes-d'Armor</span>

                                <span>29 - Finistère</span>

                                <span>35 - Ille-et-Vilaine</span>

                                <span>56 - Morbihan</span>

                            </ul>

                        </li>
                        <li class="list-group-item">
                            <a data-toggle="collapse" href="#region-3">
                                <span>Bretagne</span>
                                <b class="glyphicon glyphicon-chevron-right"></b>
                            </a>
                            <div class="pretty p-switch p-fill pull-right">
                                <input id="cb-region-3" value="reg-3" type="checkbox"/>
                                <div class="state"><label></label></div>
                            </div>

                            <ul id="region-3" class="collapse dep-container">
                                <div class="pretty p-icon p-curve p-rotate">
                                    <input type="checkbox" value="dep-22-3">
                                    <div class="state p-success-o">
                                        <i class="icon glyphicon glyphicon-ok"></i>
                                        <label>22 - Côtes-d'Armor</label>
                                    </div>
                                </div>

                                <div class="pretty p-icon p-curve p-rotate">
                                    <input type="checkbox" value="dep-29-3">
                                    <div class="state p-success-o">
                                        <i class="icon glyphicon glyphicon-ok"></i>
                                        <label>29 - Finistère</label>
                                    </div>
                                </div>

                                <div class="pretty p-icon p-curve p-rotate">
                                    <input type="checkbox" value="dep-35-3">
                                    <div class="state p-success-o">
                                        <i class="icon glyphicon glyphicon-ok"></i>
                                        <label>35 - Ille-et-Vilaine</label>
                                    </div>
                                </div>

                                <div class="pretty p-icon p-curve p-rotate">
                                    <input type="checkbox" value="dep-56-3">
                                    <div class="state p-success-o">
                                        <i class="icon glyphicon glyphicon-ok"></i>
                                        <label>56 - Morbhian</label>
                                    </div>
                                </div>
                            </ul>
                        </li>
                    </ul>

                </div>
                <!-- REGIONS END-->
            </div>
        </div>


    </div>
    <div class="col-md-6"></div>
    <div class="col-md-3"></div>

{% endblock %}



{% block javascripts %}
    {{ parent() }}

    <script>
        var $cbRegion = $("#region-container input");
        var dataSearch = {
            categories: null,
            dep: null,
            dist: null,
            date: null,
            inChampionship: null,
            enrol: null,
            competitorRegister: null
        };

        $cbRegion.click(function () {

            var data = $(this).val().split("-");

            if (data[0] === 'reg') {

                var cbDep = $('#region-' + data[1] + ' input');

                if (this.checked)
                    cbDep.prop('checked', true);
                else
                    cbDep.prop('checked', false);

                depUpdate(data[1]);
            }
            else
                depUpdate(data[2]);
        });

        //functions
        function depUpdate(reg) {
            var cptDepReg = 0;
            var cptDepRegChecked = 0;
            var cptDepAll = 0;
            var cptDepAllChecked = 0;
            var departements = [];

            console.log(reg);

            $cbRegion.each(function () {
                var data = $(this).val().split("-");
                cptDepAll++;

                if (data[0] === 'dep') {
                    if (this.checked){
                        departements.push(data[1]);
                        cptDepAllChecked++;

                        if (data[2]===reg)
                            cptDepRegChecked++;
                    }
                    if (data[2]===reg)
                        cptDepReg++;
                }
            });



            if (cptDepRegChecked < cptDepReg)
                $('#cb-region-' + reg).prop('checked', false);

            if (cptDepRegChecked > 0)
                dataSearch.dep = departements;
            else
                dataSearch.dep = null;

            console.log(dataSearch);
        }

    </script>


{% endblock %}

