{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} index
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css"/>
    <link rel="stylesheet" href="{{ asset('css/multi-switch.min.css') }}"/>

    <style>

        .no-padding > [class*='col-'] {
            max-height: 1em;
        }

        .switchContainer {
            padding-top: 0.2em;
        }

        #search-bar .panel-heading {
            height: 1.5em;
            padding: 0em;
        }

        .dep-container {
            padding: 1em 0em 0em 0.5em;
        }

        .cb-heading {
            z-index: 100;
        }

    </style>

{% endblock %}

{% block body %}

    <div class="col-md-3">
        <div id="search-bar">
            <div class="panel-group" id="accordion">
                <!-- REGIONS -->
                <div id="region-container" class="panel panel-default">
                    {# <div class="panel-heading">
                         <div class="panel-title">
                             <a data-toggle="collapse" href="#menuPanelRegion">
                                 <span>Localisation</span>
                             </a>
                         </div>
                     </div>#}
                    <div class="panel-heading">
                        <div class="panel-title">
                            <a data-toggle="collapse" href="#menuPanelRegion">
                                <span>Localisation</span>
                            </a>
                            <div class='switchContainer pull-right'>
                                <div class="multi-switch ">
                                    <div id="cb-region-all" class="switch-content disable" status="active" initial="0">
                                        <div class="switch-circle"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="list-group collapse" id="menuPanelRegion">
                        {% set i = 0 %}
                        {% for key,reg in regions %}
                        {% set i = i + 1 %}
                        <li class="list-group-item">
                            <div class="row no-padding">
                                <div class="col-xs-9">
                                    <a data-toggle="collapse" href="#region-{{ i }}">
                                        <span>{{ key }}</span>
                                    </a>
                                </div>
                                <div class='switchContainer col-xs-2'>
                                    <div class="multi-switch ">
                                        <div id="cb-region-{{ i }}" class="switch-content disable" status="active"
                                             initial="0">
                                            <div class="switch-circle"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <ul id="region-{{ i }}" class="collapse dep-container">
                                {% for dep in reg %}
                                    <div class="pretty p-icon p-curve p-rotate">
                                        <input id="cb-departement-{{ i }}" class="cb-dep" type="checkbox"
                                               region="{{ i }}" value="{{ dep.code }}">
                                        <div class="state p-success-o">
                                            <i class="icon glyphicon glyphicon-ok"></i>
                                            <label>{{ dep.code }} - {{ dep.name }}</label>
                                        </div>
                                    </div><br>
                                {% endfor %}
                            </ul>
                            {% endfor %}
                        </li>
                    </ul>

                </div>
                <!-- REGIONS END-->
            </div>
        </div>


    </div>
    <div class="col-md-6">


        <div class="multi-switch" style="width: 40px;">
            <div class="switch-content disable">
                <div class="switch-circle"></div>
            </div>
        </div>


    </div>



    <div class="col-md-3"></div>

{% endblock %}



    {% block javascripts %}
        {{ parent() }}

        <script>

            var dataSearch = {
                categories: null,
                dep: null,
                dist: null,
                date: null,
                inChampionship: null,
                enrol: null,
                competitorRegister: null
            };

            var updateLocationArray = ["01", "03", "07", "15", "26", "38", "42", "43", "63", "69", "73", "74", '56', '35'];

            searchBarLocalisation();

            function searchBarLocalisation() {
                var $allCbDepartement = $("#region-container").find('.cb-dep');
                var $allSwitchRegion = $("#region-container").find('.switch-content');

                //update
                $allCbDepartement.each(function () {
                    var dep = $(this).val();
                    if ($.inArray(dep, updateLocationArray)!== -1){
                        $(this).prop('checked', true);
                        refreshDepartement($(this).attr('region'));
                    }
                });

                //events
                $allSwitchRegion.click(function () {
                    var $switcher = $(this);
                    var status = $switcher.attr('status');
                    var data = $switcher.attr('id').split('-');
                    var initial = $switcher.attr('initial');

                    if (initial !== '0') {
                        status = initial;
                        $switcher.attr('initial', '0');
                    }

                    switch (data[1]) {

                        case 'region' :
                            //data[2] = region.code
                            refreshRegion(data[2], status);
                            break;

                    }

                    switch (status) {
                        case 'disable' :
                            switchDisable($switcher);
                            break;

                        case 'active' :
                            switchActive($switcher);
                            break;

                        case 'initial' :
                            break;
                    }
                });

                $allCbDepartement.click(function () {
                    refreshDepartement($(this).attr('region'));
                });

                //functions/////////////////////////////////////////////////////////////////////////////////////////////
                function refreshRegion(region, status) {

                    var $cbDep;
                    if (region !== 'all')
                        $cbDep = $("#region-" + region).find('.cb-dep');
                    else
                        $cbDep = $("#region-container").find('.cb-dep');

                    if (status === "active")
                        $cbDep.prop('checked', true);
                    else
                        $cbDep.prop('checked', false);

                    refreshDepartement(region);
                }

                function refreshDepartement(region) {
                    var cptDepReg = 0;
                    var cptDepRegChecked = 0;
                    var cptDepAll = 0;
                    var cptDepAllChecked = 0;
                    var departements = [];
                    var $switcher = $("#cb-region-" + region);
                    var $switcherAll = $("#cb-region-all");

                    $allCbDepartement.each(function () {
                        var dep = $(this).val();
                        var depReg = $(this).attr('region');


                        cptDepAll++;
                        if (depReg === region)
                            cptDepReg++;

                        if (this.checked) {
                            departements.push(dep);
                            cptDepAllChecked++;

                            if (depReg === region)
                                cptDepRegChecked++;
                        }
                    });


                    ////////////////////////////////////////

                    if (cptDepRegChecked < cptDepReg) {
                        if (cptDepRegChecked === 0)
                            switchDisable($switcher);
                        else
                            switchInitial($switcher);
                    }

                    if (cptDepRegChecked === cptDepReg)
                        switchActive($switcher);


                    ////////////////////////////////////////

                    if (cptDepAllChecked < cptDepAll) {
                        if (cptDepAllChecked === 0) {
                            $allSwitchRegion.each(function () {
                                switchDisable($(this));
                                $(this).find('.info-slide').remove();
                                $(this).attr('initial', '0');
                            })
                        }
                        else
                            switchInitial($switcherAll);
                    }

                    if (cptDepAllChecked === cptDepAll) {
                        $allSwitchRegion.each(function () {
                            switchActive($(this));
                            $(this).find('.info-slide').remove();
                            $(this).attr('initial', '0');
                        })
                    }

                    //////////////////////////////////////

                    if (cptDepAllChecked > 0) {
                        dataSearch.dep = departements;
                    }
                    else
                        dataSearch.dep = null;

                    console.log(dataSearch);
                }

                //switcher
                function switchDisable($switcher) {
                    $switcher.attr({
                        'status': 'active',
                        'class': 'switch-content disable'
                    });
                }

                function switchActive($switcher) {
                    $switcher.attr({
                        'status': 'disable',
                        'class': 'switch-content active'
                    });
                }

                function switchInitial($switcher) {

                    $switcher.attr({
                        'status': 'initial',
                        'class': 'switch-content initial',
                        'initial': true
                    });

                    var notSelect = $('<span class="info-slide disable" title="tout supprimer"/>');
                    var allSelect = $('<span class="info-slide active" title="tout sélectionner"/>');
                    $switcher.append(notSelect);
                    $switcher.append(allSelect);

                    notSelect.hover(function () {
                        $switcher.addClass('disable');
                        $switcher.removeClass('initial');
                    }, function () {
                        $switcher.addClass('initial');
                        $switcher.removeClass('disable');
                    });

                    allSelect.hover(function () {
                        $switcher.addClass('active');
                        $switcher.removeClass('initial');
                    }, function () {
                        $switcher.addClass('initial');
                        $switcher.removeClass('active');
                    });

                    allSelect.click(function () {
                        $switcher.find('.info-slide').remove();
                        $switcher.attr('initial', 'active');
                    });

                    notSelect.click(function () {
                        $switcher.find('.info-slide').remove();
                        $switcher.attr('initial', 'disable');
                    });
                }
            }


        </script>


    {% endblock %}

