{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

{% endblock %}

{% block title %}
    {{ parent() }}
{% endblock %}


{% block body %}


    <div>Categorie : {{ cc.championship.name }} </div>
    <div>Classement : {{ cc.ranck }} </div>
    <div>Points : {{ cc.points }} </div>


    <div>Nombre de courses : {{ racesStat.allNbRace }} </div>
    <div>Distance parcourue : {{ racesStat.allDistance }}</div>
    <div>Vitesse moyenne : {{ racesStat.allSpeed }}</div>

    <h3>Courses en championat</h3>
    <div>Nombre de courses : {{ racesStat.icNbRace }} </div>
    <div>Distance parcourue : {{ racesStat.icDistance }}</div>
    <div>Vitesse moyenne : {{ racesStat.icSpeed }}</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Course</th>
            <th>Date</th>
            <th>Dist.</th>
            <th>Temps</th>
            <th>Clasmt.</th>
            <th>Point</th>
        </tr>
        </thead>
        <tbody>

        {% for rc in rc %}
            {% if rc.race.inChampionship %}
                <tr>
                    <td>{{ rc.race.name }}</td>
                    <td>{{ rc.race.dateTime|localizeddate('none', 'none', 'fr_BR', null, "cccc d MMMM") }}</td>
                    <td class="text-center">{{ rc.race.distance }}</td>
                    <td>{{ rc.chronoString }}</td>
                    <td class="text-center">{{ rc.ranckCategory }}</td>
                    <td class="text-center">{{ rc.points }}</td>
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>

    <h3>Courses hors championat</h3>
    <div>Nombre de courses : {{ racesStat.ncNbRace }}</div>
    <div>Distance parcourue : {{ racesStat.ncDistance }}</div>
    <div>Vitesse moyenne : {{ racesStat.ncSpeed }}</div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Course</th>
            <th>Date</th>
            <th>Dist.</th>
            <th>Temps</th>
            <th>Clasmt.</th>
        </tr>
        </thead>
        <tbody>

        {% for rc in rc %}
            {% if not rc.race.inChampionship %}
                <tr>
                    <td>{{ rc.race.name }}</td>
                    <td>{{ rc.race.dateTime|localizeddate('none', 'none', 'fr_BR', null, "cccc d MMMM") }}</td>
                    <td class="text-center">{{ rc.race.distance }}</td>
                    <td>{{ rc.chronoString }}</td>
                    <td class="text-center">{{ rc.ranckCategory }}</td>
                </tr>
            {% endif %}
        {% endfor %}

        </tbody>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

{% endblock %}

