{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} index
{% endblock %}

{% block body %}

    <h1>Test</h1>


    {% for c in test %}

        {{ c.code }} {{ c.competitor.date| date('d:m:Y') }} {{ c.competitor.sexe }} {{ c.competitor.code }} <br>

    {% endfor %}

{% endblock %}